.footer {
    align-items: center;
    color: var(--gray);
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    line-height: 18px;
    padding: 17px 20px 14px;
  
    &__copyright {
      text-align: right;
    }
  
    &__UI {
      margin-right: 32px;
    }
  
    &__address {
      text-align: center;
      @media (min-width: var(--screen-md)) {
        text-align: left;
      }
    }
  
    @media (min-width: var(--screen-md)) {
      flex-direction: row;
      justify-content: space-between;
    }
  }